.container{
	margin-right: 97px;
	margin-left: 60px;
	
}
.first{
	display: inline-block;
	vertical-align: middle;
	margin-top: 54px;
	color: #30CBC2;
	font-family: Inter;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.first1{
	display: inline-block;
	vertical-align: middle;
	margin-top: 54px;
	margin-left: 60px;
	color: #30CBC2;
	font-family: Inter;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
nav{
	display: inline-block;
	vertical-align: middle;
}
li{	width: 115px;
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 66px;
	margin-right:87px;
	margin-left: 87px;
}
a{
	display: inline-block;
	width: 150px;
	height: 34px;
	color: #8D81FF;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.contact{
	width: 115px;
	height: 34px;
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.rec{
	width: 50px;
	height: 50px;
	background: #5012D5;
	display: inline-block;
	padding: 8px 3px 8px 11px;
	margin-top: 44px;
}
h2{
	width: 31px;
	height: 34px;
	color: #84FF81;
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	}
.fh3{
	width: 119px;
	height: 34px;
	color: #8D81FF;
	font-family: BPG Nino Mkhedruli;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 18px;
	}
.fh4{
	width: 578px;
	height: 34px;
	color: #4E6FAE;
	font-family: GL Tatishvili Metal;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 8px;
	margin-bottom: 13px;
	}
.blue{
	vertical-align:top;
	margin-right: 66px;
	margin-bottom: 155px;
}
.p{
	display: inline-block;
	vertical-align: tex-top;
}
.p1{
	display: inline-block;
	vertical-align: top;
}
.firstp{
	width: 778px;
	height: 100px;
	color: #4E6FAE;
	font-family: BPG Square;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 13px;
/*	border: 2px solid black;*/
	}

.purple{
		margin-bottom: 155px;
}
.firstp2{
	display: inline-block;
	vertical-align: top;
	width: 778px;
	height: 280px;
	color: #4E6FAE;
	font-family: BPG Nino Mtavruli ;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 66px;
	}
.firstp3{
	width: 1021px;
	height: 148px;
	color: #4E6FAE;
	font-family: BPG Nostalgia;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-top: 32px;
}


.container2{
	margin: 194px;
}
.card1{
	display: inline-block;
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	padding: 21px 15px 31px 23px;
	}
.nh5{
	color: #3F4145;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	}
h6{	display: inline-block;
	vertical-align: top;
	width: 335px;
	height: 95px;
	color: #3F4145;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 21px;
	margin-left: 37px;
	}
.nim{
	margin-top: 30px;
}
.card2{
	display: inline-block;
	vertical-align: top;
	margin-left: 52px;
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	padding: 21px 19px 29px 29px;
}
.nim1{
	vertical-align: top;
     margin-top: 24px;
     margin-right: 19px;
}
.nh6{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	color: #3F4145;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}
 .divc{
 	display: inline-block;
 	margin-top: 31px;
 	width: 1410px;
	height: 600px;
	background: #E7E7E7;
	padding: 93px 40px 93px 70px;
}
h1{
	width: 474px;
	height: 34px;
	color: #4E6FAE;
	font-family: "Arial GEO BoldItalic", sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
p{	margin-top: 23px;
	width: 434px;
	height: 34px;
	color: #7E8898;
	font-family: "ALK Sanet", sans-serif;
	font-size: 19px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	color: #3F4145;
	}
.divc1{
	display: inline-block;
	vertical-align: text-top;
	width: 550px;
}
.f {
	margin-top: 143px;
	margin-right: 41px;
	margin-bottom: 285px;
}
.l {
	margin-top: 143px;
	margin-right: 41px;
	margin-bottom: 285px;

}
.y{
	margin-top: 143px;
	margin-right: 41px;
	margin-bottom: 285px;
}
.f1 {
	margin-top: 143px;
	margin-right: 41px;
	margin-bottom: 285px;
	margin-left: 96px;
}
